.cards {
    vertical-align: middle;
    align-content: center;
}
img {
    max-width:min-content;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;

}

.btn {
    margin-top: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}