.Login {
    text-align: left;
    padding: 5px 0px;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
  }
.menuBar {
  align-items: right;
  justify-content: right;
  text-align: right;
}
  .submit {
    display: flex;
    align-items: center;
    gap: 10px;
    padding:20px;
  
  }