.Login {
    text-align: left;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.submit {
  display: flex;
  align-items: center;
  gap: 10px;
  padding:20px;

}